MONGO_URI=coloque_aqui_sua_string_do_mongodb
JWT_SECRET=coloque_aqui_um_segredo_seguro
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_email
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=seu_google_client_id
GOOGLE_CLIENT_SECRET=seu_google_client_secret
FACEBOOK_APP_ID=seu_facebook_app_id
FACEBOOK_APP_SECRET=seu_facebook_app_secret
LINKEDIN_TOKEN=seu_linkedin_token
INSTAGRAM_TOKEN=seu_instagram_token
FACEBOOK_TOKEN=seu_facebook_token
GMAIL_CLIENT_ID=seu_gmail_client_id
GMAIL_CLIENT_SECRET=seu_gmail_client_secret
GMAIL_REFRESH_TOKEN=seu_gmail_refresh_token
SHOPIFY_TOKEN=seu_shopify_token
WHATSAPP_TOKEN=seu_whatsapp_token
OUTLOOK_TOKEN=seu_outlook_token
MERCADOLIVRE_TOKEN=seu_mercadolivre_token
OLX_TOKEN=seu_olx_token
